    <div class="body">
        <div class="body1__wrapper grid">
                <div class="body1__wrapper-banner wide">
                <div class="body1__banner row-com-padding-3">
                    <div id="carouselControls" class="carousel slide body1__banner-motion col-com-margin-3 l-8" data-ride="carousel">
                        <div class="carousel-inner"></div> 
                        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="sr-only">Next</span>
                        </a>  
                        <div class="carousel-indicators">
                            <div data-target="#carouselControls" data-slide-to="0" class="active"></div>
                            <div data-target="#carouselControls" data-slide-to="1"></div>
                            <div data-target="#carouselControls" data-slide-to="2"></div>
                            <div data-target="#carouselControls" data-slide-to="3"></div>
                            <div data-target="#carouselControls" data-slide-to="4"></div>
                            <div data-target="#carouselControls" data-slide-to="5"></div>
                            <div data-target="#carouselControls" data-slide-to="6"></div>
                            <div data-target="#carouselControls" data-slide-to="7"></div>
                            <div data-target="#carouselControls" data-slide-to="8"></div>
                            <div data-target="#carouselControls" data-slide-to="9"></div>
                        </div>
                    </div>

                    <div class="body1__banner-motionless col-com-margin-3 l-4">
                        <a href="" class="body1__banner-motionless__link">
                            <div class="body1__banner-motionless-item" style="background-image: url('https://cf.shopee.vn/file/077615c488c794e3a8f3edc4780ab1ab_xhdpi')"></div>
                        </a>
                        <a href="" class="body1__banner-motionless__link">
                            <div class="body1__banner-motionless-item" style="background-image: url('https://cf.shopee.vn/file/0cb9ea4af0ea91e97dc86cc9f6b52467_xhdpi')"></div>
                        </a>
                    </div>
                </div>

                <div class="body1__advert">
                    {{#each advertItems}}
                        <a href="" class="body1__advert-item">
                            <div class="body1__advert-item__image" style="background-image: url('{{this.image}}')"></div>
                            <p class="body1__advert-item__description">
                                {{this.title}}
                            </p>
                        </a>
                    {{/each}}
                </div>
            </div> 
        </div>
        <div class="body2__products grid">
            <!-- banner 0d -->
            <div class="body2__banner-0d__wrapper wide">
                <div class="body2__banner-0d" style="background-image: url('https://cf.shopee.vn/file/d3fa706887cf34ddd491c8fc60e37d9f_xxhdpi');">
                </div>
            </div>
            <!-- sale 50% -->
            <div class="body2__sale50 wide">
                <picture class="body2__sale50-picture-top">
                    <img src="https://cf.shopee.vn/file/c8615b61d539dcf19340edc086a863fa" alt="top of frame" class="body2__sale50-image-top">
                </picture>
                <picture class="body2__sale50-picture-middle">
                    <img src="https://cf.shopee.vn/file/ecc26719791d9859cb0d7c5b9df0ba7b" alt="middle of frame" class="body2__sale50-image-middle">
                
                    <div class="body2__sale50-wrapper">
                        <div class="body2__sale50-bestseller">
                            <div class="body2__sale50-bestseller-top">
                                <span class="body2__top-title">
                                    SẢN PHẨM BÁN CHẠY
                                </span>
                                <a href = "" class="body2__top-watchmore">
                                    Xem Thêm
                                    <i class="ti-angle-right"></i>
                                </a>
                            </div>
                            <div class="body2__sale50-bestseller-bottom"></div>
                        </div>
                    </div>
                </picture>
                <picture class="body2__sale50-picture-bottom">
                    <img src="https://cf.shopee.vn/file/b0d2d7c85ed919818e368bc9e9408169" alt="bottom of frame" class="body2__sale50-image-bottom">
                </picture>
            </div>
            <!-- catalog -->
            <div class="body2__catalog wide">
                <h5 class="body2__catalog__title">
                    DANH MỤC
                </h5>
                <div class="swiper-block">
                    <div class="swiper swiper-catalog">
                        <div class="body2__catalog__typeProducts swiper-wrapper">   
                        {{#each catalogItems}} 
                            <div class="body2__catalog__typeProducts-two swiper-slide">
                                <a href="/catalog" class="body2__typeProducts__item">
                                    <div class="body2__typeProducts__item-image"
                                    style="background-image: url('{{this.imageAbove}}')"></div>
                                    <p class="body2__typeProducts__item-name">
                                        {{this.titleAbove}}
                                    </p>
                                </a>
                            
                                <a href="/catalog" class="body2__typeProducts__item">
                                    <div class="body2__typeProducts__item-image"
                                    style="background-image: url('{{this.imageBelow}}')"></div>
                                    <p class="body2__typeProducts__item-name">
                                        {{this.titleBelow}}
                                    </p>
                                </a>
                            </div>
                        {{/each}}
                        </div>
                    </div>
                        <div class="swiper-button-next button-next-catalog"></div>
                        <div class="swiper-button-prev button-prev-catalog"></div>
                </div>
            </div>
            <!-- flash sale --> 
            <div class="body2__flashSale wide">
                <div class="body2__flashSale__header">
                    <div class="body2__flashSale__header-title" 
                        style= "background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/fb1088de81e42c4e538967ec12cb5caa.png')">
                    </div>
                    <a href= "" class="body2__flashSale__header-watchAll">
                        Xem Tất Cả <i class="ti-angle-right"></i>
                    </a>
                </div>
                <div class="swiper-block">
                    <div class="swiper swiper-flash">
                        <div class="body2__flashSale__content swiper-wrapper">
                        {{#each flashItems}}
                            <a href="" class="body2__flashSale__content-product swiper-slide">
                                <div class="body2__flashSale__product-image"
                                    style = "background-image: url('{{this.background}}'), url('{{this.image}}')">
                                </div>

                                <div class="body2__flashSale__product-des">
                                    <span class="body2__flashSale__des-dong">
                                        ₫ 
                                    </span>
                                    <span class="body2__flashSale__des-price">
                                        {{this.price}}
                                    </span>
                                    <div class="body2__flashSale__des-complete-bar" style= "background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/ac7f81d9ee062223753413ec98497a86.png');">
                                        <div class="body2__flashSale__des-percent"></div>
                                    </div>
                                    <div class="body2__flashSale__des-sold" >
                                                ĐÃ BÁN
                                         {{this.sold}}
                                    </div>
                                </div>
                                <div class="reduction-on-product">
                                    <p class="body2__bottom-reduction-number">
                                        {{this.reduction}}%
                                    </p>
                                    <p class="body2__bottom-word">
                                        GIẢM
                                    </p>
                                </div>
                            </a>
                        {{/each}}
                        </div>
                    </div>
                        <div class="swiper-button-next button-next-flash"></div>
                        <div class="swiper-button-prev button-prev-flash"></div>
                </div>
            </div>  
            <!-- san ma freeship -->
            <div class="body2__freeship wide">
                <a href="" class="body2__freeship__banner"
                style="background-image: url('https://cf.shopee.vn/file/93e9e12ea0def88ea8002d378a67006e')"></a>
                <a href="" class="body2__freeship__banner"
                style="background-image: url('https://cf.shopee.vn/file/428b23ae9ac6d4690b4f5bdb985efbcd')"></a>
                <a href="" class="body2__freeship__banner"
                style="background-image: url('https://cf.shopee.vn/file/5a9fed6ba899d8de79390b9ad8d50e40')"></a>
            </div>
            <!-- shopee mall -->
            <div class="body2__mall wide">
                <!-- mall header -->
                <div class="body2__mall__header">
                    <a href="" class="body2__mall__header-title separate__mark">
                        SHOPEE MALL
                    </a>

                    <span class="body2__mall__header-preferential">
                        <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/6c502a2641457578b0d5f5153b53dd5d.png" alt="" class="body2__mall__preferential-image">
                        7 Ngày Miễn Phí Trả Hàng
                    </span>
                    <span class="body2__mall__header-preferential">
                        <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/16ead7e0a68c3cff9f32910e4be08122.png" alt="" class="body2__mall__preferential-image">
                        Hàng Chính Hãng 100%
                    </span>
                    <span class="body2__mall__header-preferential">
                        <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/511aca04cc3ba9234ab0e4fcf20768a2.png" alt="" class="body2__mall__preferential-image">
                        Miễn Phí Vận Chuyển
                    </span>

                    <a href="" class="body2__mall__header-watchAll">
                        Xem Tất Cả <i class="ti-angle-right"></i>
                    </a>
                </div>
                <!-- mall content -->
                <div class="body2__mall__content">
                    <!-- mall left -->
                    <div id="carouselControls-shopee-mall" class="carousel slide body2__mall__content__left" data-ride="carousel">
                        <div class= "carousel-inner"></div>
                        <a class="carousel-control-prev" href="#carouselControls-shopee-mall" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselControls-shopee-mall" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>  
                        <div class="carousel-indicators">
                            <div data-target="#carouselControls-shopee-mall" data-slide-to="0" class="active"></div>
                            <div data-target="#carouselControls-shopee-mall" data-slide-to="1"></div>
                            <div data-target="#carouselControls-shopee-mall" data-slide-to="2"></div>
                            <div data-target="#carouselControls-shopee-mall" data-slide-to="3"></div>
                        </div>
                    </div>
                    <!-- mall right -->
                    <div class="swiper-block">
                        <div class="swiper swiper-mall">
                            <div class="body2__mall__content__right swiper-wrapper">
                                <!-- 1 -->
                            {{#each mallItems}}    
                                <div class="body2__mall__right__2products swiper-slide ">
                                    <div class="body2__mall__right__product">
                                        <a href="" class="body2__mall__product-link">
                                            <div class="body2__mall__product__link-image" 
                                                style="background-image: url('{{this.imageAbove}}')">
                                            </div>
                                        </a>
                                        <p class="body2__mall__product-preferential">
                                            {{this.titleAbove}}
                                        </p> 
                                    </div> 
                                    
                                    <div class="body2__mall__right__product">
                                        <a href="" class="body2__mall__product-link">
                                            <div class="body2__mall__product__link-image" 
                                                style="background-image: url('{{this.imageBelow}}')">
                                            </div>
                                        </a>
                                        <p class="body2__mall__product-preferential">
                                            {{this.titleBelow}}
                                        </p> 
                                    </div> 
                                </div>
                            {{/each}}   
                            </div>
                        </div>
                            <div class="swiper-button-next button-next-mall"></div>
                            <div class="swiper-button-prev button-prev-mall"></div>
                    </div>
                </div>
            </div>
            <!-- Trend to seek -->
            <div class="body2__trend wide">
                <div class="body2__trend__header">
                    <span class="body2__trend__header__title">
                        XU HƯỚNG TÌM KIẾM
                    </span>
                    <a href="" class="body2__trend__header__watchMore">
                        <svg viewBox="0 0 12 15" class="body2__trend__watchMore-icon">
                            <path d="M12 7.51268255c0-1.71021918-.7226562-3.30538371-1.9648437-4.43447938-.20507817-.18525749-.52148442-.16965686-.7070313.03315134-.18554687.20475828-.16992188.52067106.03320313.70592856C10.3984375 4.75722109 11 6.08717488 11 7.51268255c0 2.59360495-1.98242187 4.72699125-4.515625 4.96880095l.68164063-.7878318c.1796875-.2086585.15625-.5245713-.05273438-.7039785-.20898438-.1794073-.52539062-.1560063-.70507813.0526521l-1.49609375 1.7336201c-.18164062.2106086-.15625.5284714.05664063.7078787l1.65429688 1.3982065c.21093749.1774572.52539062.1521062.70507812-.0585023.17773438-.2106085.15234375-.5245712-.05859375-.7039785l-.75195313-.6357257C9.58789062 13.2205634 12 10.6484094 12 7.51268255zM2.80273438 11.3523879C1.66796875 10.4085497 1 9.0161934 1 7.51463263c0-2.75741154 2.23828125-4.99220194 5-4.99220194h.01367188l-.7734375.75078037c-.19726563.19305781-.203125.50897059-.00976563.70592855.19335938.19695797.50976563.20280821.70703125.0097504l1.64257813-1.59516453c.19921875-.19305781.20117187-.51287074.00585937-.70982871L6.06054688.14723461c-.1953125-.19500789-.51171875-.19695797-.70703125-.00195008C5.15820313.34029242 5.15625.6562052 5.3515625.85121309l.66992188.67472729H6c-3.31445312 0-6 2.68135846-6 5.99064232 0 1.8018729.80273438 3.4750406 2.16210938 4.6060863.21289062.1755071.52734375.148206.70507812-.0643526.17773438-.2164587.1484375-.5304214-.06445312-.7059285z" fill-rule="nonzero"></path>
                        </svg>
                        Xem Thêm
                    </a>
                </div>

                <div class="body2__trend__content">
                    <a href="" class="body2__trend__linkProduct">
                        <span class="body2__trend__linkProduct__left">
                            <h4 class="body2__trend__linkProduct__left-name">
                                Sandal Nữ
                            </h4>
                            <p class="body2__trend__linkProduct__left-quantity">
                                6k+ sản phẩm
                            </p>
                        </span>

                        <span class="body2__trend__linkProduct__right">
                            <div class="body2__trend__linkProduct__right-image"
                                style="background-image: url('https://cf.shopee.vn/file/93073101321f322c66260c81cb5b50c7')">
                            </div>
                        </span>
                    </a>

                    <a href="" class="body2__trend__linkProduct">
                        <span class="body2__trend__linkProduct__left">
                            <h4 class="body2__trend__linkProduct__left-name">
                                Sơmi Nữ
                            </h4>
                            <p class="body2__trend__linkProduct__left-quantity">
                                6k+ sản phẩm
                            </p>
                        </span>

                        <span class="body2__trend__linkProduct__right">
                            <div class="body2__trend__linkProduct__right-image"
                                style="background-image: url('https://cf.shopee.vn/file/9477f97eb71fab5708e9dfdc2864465e')">
                            </div>
                        </span>
                    </a>

                    <a href="" class="body2__trend__linkProduct">
                        <span class="body2__trend__linkProduct__left">
                            <h4 class="body2__trend__linkProduct__left-name">
                                Dép Nam
                            </h4>
                            <p class="body2__trend__linkProduct__left-quantity">
                                6k+ sản phẩm
                            </p>
                        </span>

                        <span class="body2__trend__linkProduct__right">
                            <div class="body2__trend__linkProduct__right-image"
                                style="background-image: url('https://cf.shopee.vn/file/0bec63fcca9f0f9743b81ebb7b9cafb2')">
                            </div>
                        </span>
                    </a>

                    <a href="" class="body2__trend__linkProduct">
                        <span class="body2__trend__linkProduct__left">
                            <h4 class="body2__trend__linkProduct__left-name">
                                Balo Nữ
                            </h4>
                            <p class="body2__trend__linkProduct__left-quantity">
                                154k+ sản phẩm
                            </p>
                        </span>

                        <span class="body2__trend__linkProduct__right">
                            <div class="body2__trend__linkProduct__right-image"
                                style="background-image: url('https://cf.shopee.vn/file/2e444bd7589015796bc780892efa7c4c')">
                            </div>
                        </span>
                    </a>

                    <a href="" class="body2__trend__linkProduct">
                        <span class="body2__trend__linkProduct__left">
                            <h4 class="body2__trend__linkProduct__left-name">
                                Croptop Nữ
                            </h4>
                            <p class="body2__trend__linkProduct__left-quantity">
                                6k+ sản phẩm
                            </p>
                        </span>

                        <span class="body2__trend__linkProduct__right">
                            <div class="body2__trend__linkProduct__right-image"
                                style="background-image: url('https://cf.shopee.vn/file/09013dec657091f0bfdce0a4fea4c33a')">
                            </div>
                        </span>
                    </a>

                </div>
            </div>
            <!-- top search -->
            <div class="body2__topSearch wide">
                <div class="body2__topSearch__header">
                    <span class="body2__topSearch__header__title">
                        TÌM KIẾM HÀNG ĐẦU
                    </span>
                    <a href="" class="body2__topSearch__header__watchAll">
                        Xem Tất Cả <i class="ti-angle-right"></i>
                    </a>
                </div>
                <div class="body2__topSearch__content">
                    <div class="swiper-block">
                        <div class="swiper swiper-search">
                            <div class="body2__topSearch__content-products swiper-wrapper">
                                <!-- 1 -->
                            {{#each topSeachItems}}    
                                <a href="" class="body2__topSearch__content__topProduct swiper-slide">
                                    <div class="body2__topSearch__topProduct__above">
                                        <img src="{{this.image}}" alt="" class="body2__topSearch__topProduct-image">
                                        <div class="body2__topSearch__topProduct-top"
                                            style="background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/06720e49514cbd94b7552496b4de454a.png')">
                                        </div>
                                        <p class="body2__topSearch__topProduct_soldPerMonth">
                                            {{this.sold}}
                                        </p>
                                    </div>
                                    <p class="body2__topSearch__topProduct_nameProduct">
                                        {{this.title}}
                                    </p>
                                </a>
                            {{/each}}
                            </div>
                        </div>
                        <div class="swiper-button-next button-next-search"></div>
                        <div class="swiper-button-prev button-prev-search"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- products -->
    <div class="products">
        <div class="products__wrapper grid">
            <div class="products__header wide">
                <div class="products__header__title">
                    <span>GỢI Ý HÔM NAY</span> 
                    <div class="products__header__line products-line-title products-line-active"></div>
                </div>
                <div class="products__header__link">
                    <img src="https://cf.shopee.vn/file/1a041b66f5274dd7be2803f16d1f2e6e" alt="" class="products__header__image">
                    <div class="products__header__line products-line-image"></div>
                </div>
            </div>

            <div class="products__content recommend-products active-products wide">
                <div class="products__content__6goods">
                    {{#each suggestGoodItems}}
                    <div class="products__content__cover">
                        <a href="/{{slug}}" class="products__content__good">
                                <div class="love-background {{#if this.love}}active-label-good{{/if}}"> 
                                    <span>{{this.love}}</span> 
                                </div>
                            <div class="reduction-background {{#if (checkEmptyString this.reduction)}}active-label-good{{/if}}">
                                <p class="reduction-number">
                                    {{this.reduction}}%
                                </p>
                                <p class="reduction-word">
                                    GIẢM
                                </p>
                            </div>
                            <img src="{{this.image}}" class="products__content__block__image">
                            <img src="{{this.background}}" alt="" class="products__content__block__image-appendage {{#if (checkEmptyString this.background)}}active-label-good{{/if}}">
                            <div class="products__content__block__info">
                                <p class="products__content__info__description">
                                    {{this.description}}
                                </p>
                                <div class="reduction-price-voucher__wrapper {{#if (checkEmptyString this.voucher)}}active-voucher-good{{/if}}">
                                    <svg class="reduction-price-voucher-serrations voucher-serrations-left" viewBox="-0.5 -0.5 4 16">
                                        <path d="M4 0h-3q-1 0 -1 1a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3q0 1 1 1h3" stroke-width="1" transform="" stroke="#f69113" fill="#f69113"></path>
                                    </svg>
                                    <p class="reduction-price-voucher">
                                       {{this.voucher}}
                                    </p>
                                    <svg class="reduction-price-voucher-serrations voucher-serrations-right" viewBox="-0.5 -0.5 4 16">
                                        <path d="M4 0h-3q-1 0 -1 1a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3q0 1 1 1h3" stroke-width="1" transform="rotate(180) translate(-3 -15)" stroke="#f69113" fill="#f69113"></path>
                                    </svg>
                                </div>
                                <div class="products__content__info__sell">
                                    <p class="products__content__sell__price">
                                        <span>₫</span> {{this.price}}
                                    </p>
                                    <p class="products__content__sell__sold {{#if (checkEmptyString this.sold)}}active-label-good{{/if}}">
                                        Đã bán {{this.sold}}
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="" class="products__content__good-relate">
                            Tìm sản phẩm tương tự
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="products__content october-products wide">
                 <div class="products__content__6goods">
                    {{#each octoberGoodItems}}
                    <div class="products__content__cover">
                        <a href="/{{this.slug}}" class="products__content__good">
                                <div class="love-background {{#if this.love}}active-label-good{{/if}}"> 
                                    <span>Yêu thích</span> 
                                </div>
                            <div class="reduction-background {{#if (checkEmptyString this.reduction)}}active-label-good{{/if}}">
                                <p class="reduction-number">
                                    {{this.reduction}}%
                                </p>
                                <p class="reduction-word">
                                    GIẢM
                                </p>
                            </div>
                            <img src="{{this.image}}" class="products__content__block__image">
                            <img src="{{this.background}}" alt="" class="products__content__block__image-appendage {{#if (checkEmptyString this.background)}}active-label-good{{/if}}">
                            <div class="products__content__block__info">
                                <p class="products__content__info__description">
                                    {{this.description}}
                                </p>
                                <div class="reduction-price-voucher__wrapper {{#if (checkEmptyString this.voucher)}}active-voucher-good{{/if}}">
                                    <svg class="reduction-price-voucher-serrations voucher-serrations-left" viewBox="-0.5 -0.5 4 16">
                                        <path d="M4 0h-3q-1 0 -1 1a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3q0 1 1 1h3" stroke-width="1" transform="" stroke="#f69113" fill="#f69113"></path>
                                    </svg>
                                    <p class="reduction-price-voucher">
                                       {{this.voucher}}
                                    </p>
                                    <svg class="reduction-price-voucher-serrations voucher-serrations-right" viewBox="-0.5 -0.5 4 16">
                                        <path d="M4 0h-3q-1 0 -1 1a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3q0 1 1 1h3" stroke-width="1" transform="rotate(180) translate(-3 -15)" stroke="#f69113" fill="#f69113"></path>
                                    </svg>
                                </div>
                                <div class="products__content__info__sell">
                                    <p class="products__content__sell__price">
                                        <span>₫</span> {{this.price}}
                                    </p>
                                    <p class="products__content__sell__sold {{#if (checkEmptyString this.sold)}}active-label-good{{/if}}">
                                        Đã bán {{this.sold}}
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="" class="products__content__good-relate">
                            Tìm sản phẩm tương tự
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>        

            <div class="products__watchMore wide">
                <a href="#" class="products__watchMore__link">
                    Xem Thêm
                </a>
            </div>

            <div class="shopee__overlay">
                <div class="shopee__popup">
                    <a href="" class="shopee__popup__link">
                        <img src="https://cf.shopee.vn/file/ccb954ea2ff6bedcfa2e8a0822d31b70_xxhdpi" alt="" class="shopee__popup__image">
                    </a>
                    <i class="shopee__popup__close ti-close"></i>
                </div>
            </div>
        
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>

        const swiperList = [
            {
                mainSelector: '.swiper-catalog',
                nextSlideBtn: '.button-next-catalog',
                prevSlideBtn: '.button-prev-catalog',
                slidesPerView: 10,
                translate3d: 360,
            },
            {
                mainSelector: '.swiper-flash',
                nextSlideBtn: '.button-next-flash',
                prevSlideBtn: '.button-prev-flash',
                slidesPerView: 6,
                translate3d: 1000
            },
            {
                mainSelector: '.swiper-mall',
                nextSlideBtn: '.button-next-mall',
                prevSlideBtn: '.button-prev-mall',
                slidesPerView: 4,
                translate3d: 800
            },
            {
                mainSelector: '.swiper-search',
                nextSlideBtn: '.button-next-search',
                prevSlideBtn: '.button-prev-search',
                slidesPerView: 6,
                translate3d: 1200
            }
        ]

        const $ = document.querySelector.bind(document)
        const $$ = document.querySelectorAll.bind(document)
        //Swiper catalog
        for(const swiperItem of swiperList) {

            const nextSlideBtn = $(swiperItem.nextSlideBtn)
            const prevSlideBtn = $(swiperItem.prevSlideBtn)
            const mainSwiper = $(swiperItem.mainSelector)
            const swiperWrapper = $(swiperItem.mainSelector + ' .swiper-wrapper')
            
            //Customize swiper slider for each component
            var swiper = new Swiper(swiperItem.mainSelector, {
                slidesPerView: swiperItem.slidesPerView,
                noSwiping: true,
                noSwipingClass: '.swiper-slide',
                speed: 500,
                navigation: {
                    nextEl: swiperItem.nextSlideBtn,
                    prevEl: swiperItem.prevSlideBtn
                },
            })

            const slidesLength = swiper.slides.length
            const slideWidth = $(swiperItem.mainSelector + ' .swiper-slide').offsetWidth
            const swiperSlideQuantity = swiper.slides.length
            const swiperViewWidth = swiper.width
            
            //Handle transform with next btn
            let translate3dIncrement = 0
            nextSlideBtn.onclick = function() {
                swiperWrapper.style.transform = `translate3d(${(translate3dIncrement - swiperItem.translate3d)}px, 0px, 0px)`
                translate3dIncrement = translate3dIncrement - swiperItem.translate3d

                let totalWidthSwiper = slideWidth * swiperSlideQuantity
                let lastView = totalWidthSwiper - Math.abs(translate3dIncrement)

                prevSlideBtn.style.display = 'flex'
                if(lastView === swiperViewWidth) {
                    this.style.display= 'none'
                }
            }

            //Handle transform with prev btn
            prevSlideBtn.onclick = function() {
                swiperWrapper.style.transform = `translate3d(${(translate3dIncrement + swiperItem.translate3d)}px, 0px, 0px)`
                translate3dIncrement = translate3dIncrement + swiperItem.translate3d

                nextSlideBtn.style.display = 'flex'
                if(translate3dIncrement === 0) {
                    this.style.display= 'none'
                }
            }

            //Handle btn affect
            const array = [mainSwiper, nextSlideBtn, prevSlideBtn]

            array.forEach(item => item.onmouseover = function() {
                nextSlideBtn.classList.add('keyFrames-open')
                prevSlideBtn.classList.add('keyFrames-open')
            })

            array.forEach(item => item.onmouseout = function() {
                nextSlideBtn.classList.remove('keyFrames-open')
                prevSlideBtn.classList.remove('keyFrames-open')
            })

        }

        //Handle product title
        const suggestGoodBtn = $('.products__header__title span')
        const octoberBtn = $('.products__header__image')

        suggestGoodBtn.onclick = function() {
            $('.products__content.october-products').classList.remove('active-products')
            $('.products__content.recommend-products').classList.add('active-products')
            $('.products__header__title .products-line-title').classList.add('products-line-active')
            $('.products__header__link .products-line-image').classList.remove('products-line-active')
        }

        octoberBtn.onclick = function() {
            $('.products__content.october-products').classList.add('active-products')
            $('.products__content.recommend-products').classList.remove('active-products')
            $('.products__header__title .products-line-title').classList.remove('products-line-active')
            $('.products__header__link .products-line-image').classList.add('products-line-active')
        }

        //Pop up overlay
        const closeIcon = $('.shopee__popup__close')
        const overlay = $('.shopee__overlay')
        const shopeePopup = $('.shopee__popup')
        
         // pop up
        function closePopUp() {
            overlay.classList.add("hidden-popup")
        }
    
        overlay.addEventListener('click', closePopUp)
        closeIcon.addEventListener('click', closePopUp)
    </script>    

    {{!-- carousel controll --}}
    <script>

        const carouselControlList = [
            "https://cf.shopee.vn/file/4dfecb01d25aed65529e3f6f317c1a78_xxhdpi",
            "https://cf.shopee.vn/file/91feb3796d4ccf546cb5fb5670b20557_xxhdpi",
            "https://cf.shopee.vn/file/25e9adf09339c703afd3e50955673dec_xxhdpi",
            "https://cf.shopee.vn/file/9baccf4933be315fd39229e5b12e5b44_xxhdpi",
            "https://cf.shopee.vn/file/ffe0d0f005fab9c2804b9de0dbae4d41_xxhdpi",
            "https://cf.shopee.vn/file/32d1821b7d6ebe4252d0378388222001_xxhdpi",
            "https://cf.shopee.vn/file/f86f3bffbc89d9dea0d3f816921b1c33_xxhdpi",
            "https://cf.shopee.vn/file/452d54da3325b21731b2e9f5162025b5_xxhdpi",
            "https://cf.shopee.vn/file/84b9ca098a5d29ffbfe4cd88ed0cda47_xxhdpi"
        ]

        const carouselControls = $('#carouselControls .carousel-inner')
        const carouselControlRender = carouselControlList.map((carouselControlItem, index) => {
            return `
                <a href="" class="body1__banner-motion__link carousel-item ${index === 0 ? 'active' : ''} ">
                    <div class="body1__banner-motion-item d-block w-100" style="background-image: url(${carouselControlItem})"> </div>
                </a>
            `
        })

        carouselControls.innerHTML = carouselControlRender.join('')

    </script>   

    {{!-- carouselControls-shopee-mall  --}}
    <script>
        const carouselShoppeMallList = [
            "https://cf.shopee.sg/file/eda478f016d1fcbc1c0b30648bfeeece",
            "https://cf.shopee.sg/file/a6e630208f2e2babbb790fd29629ef44",
            "https://cf.shopee.sg/file/0bef7d74ab9f8930460bdedb9960975a",
            "https://cf.shopee.sg/file/b942733c8a17488bc1b694249f0417f1",
            "https://cf.shopee.sg/file/689262b6b4456f60ee88e5c1e772a185"
        ]
        const carouselShoppeMall = $('#carouselControls-shopee-mall .carousel-inner')
        const carouselShoppeMallRender = carouselShoppeMallList.map((carouselShoppeMallItem, index) => {
            return `
                <a href="" class="body2__mall__left__link carousel-item ${index === 0 ? 'active' : ''}">
                    <img class="body2__mall__left__link-image d-block w-100" src=${carouselShoppeMallItem}>
                </a>
            `
        })
        carouselShoppeMall.innerHTML = carouselShoppeMallRender.join('')
    </script>

    {{!-- body2__sale50-bestseller-bottom --}}
    <script>

        const bestSellerBottomList = [
            {
                background: 'https://cf.shopee.vn/file/b9d3d86b03eb5200e949a2c34cd15543_tn',
                price: '18.000đ',
                reduction: '43%'
            },
            {
                background: 'https://cf.shopee.vn/file/e7fe84ea992eb87037c024b02c19935d_tn',
                price: '20.000đ',
                reduction: '50%'
            },
            {
                background: 'https://cf.shopee.vn/file/614dbae9bc27b3cb5d97b6d1c2fab941_tn',
                price: '385.000đ',
                reduction: '41%'
            },
            {
                background: 'https://cf.shopee.vn/file/12f18d3f9642dc3d9be4830d57c5b2b5_tn',
                price: '99.000đ',
                reduction: '34%'
            },
            {
                background: 'https://cf.shopee.vn/file/b842a42dded0db6ab367673dabbf36ca_tn',
                price: '9.000đ',
                reduction: '50%'
            },
            {
                background: 'https://cf.shopee.vn/file/1686cd18d20680663d5c0421ac05e90a_tn',
                price: '2.000đ',
                reduction: '55%'
            },
        ]

        const bestSellerBottom = $('.body2__sale50-bestseller-bottom')
        const bestSellerBottomRender = bestSellerBottomList.map(bestSellerBottomItem => {
            return `
                <a href="" class="body2__bottom-product">
                    <div class="body2__bottom-product-image"
                        style="background-image: url(${bestSellerBottomItem.background})">
                    </div>
                    <p class="body2__bottom-product-price">
                        ${bestSellerBottomItem.price}
                    </p>
                    <div class="body2__bottom-product-reduction reduction-on-product">
                        <p class="body2__bottom-reduction-number">
                            ${bestSellerBottomItem.reduction}
                        </p>
                        <p class="body2__bottom-word">
                            GIẢM
                        </p>
                    </div>
                </a>
            `
        })

        bestSellerBottom.innerHTML = bestSellerBottomRender.join('')

    </script>